Package: es.iflam.hidelsmusiccontrols
Name: HideLSMusicControls
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Hide media controls on the lock screen. (Nothing to configure. Future updates maybe?)
Maintainer: iFlames
Author: iFlames
Section: Tweaks
